<div class="formgrid grid col-12 m-0 p-0 flex justify-content-between">
    <div class="formgrid grid h-30rem col-2 field m-0 p-0 surface-card">
        <div class="col-12 field p-0 m-0">
            <ul class="list-none m-0 px-0 py-3">
                <li [routerLink]="'/gerenciamento/pacientes'"
                    class="py-3 pl-3 hover:surface-hover transition-all transition-duration-500 cursor-pointer">
                    <i class="pi pi-user p-2 border-1 surface-border surface-hover shadow-1"></i> <span class="px-3">Pacientes</span>
                </li>
                <li [routerLink]="'/gerenciamento/funcionarios'"
                    class="py-3 pl-3 hover:surface-hover transition-all transition-duration-500 cursor-pointer">
                    <i class="pi pi-user p-2 border-1 surface-border surface-hover shadow-1"></i> <span class="px-3">Funcionarios</span>
                </li>
                <li [routerLink]="'/gerenciamento/consultas'"
                    class="py-3 pl-3 hover:surface-hover transition-all transition-duration-500 cursor-pointer">
                    <i class="pi pi-book p-2 border-1 surface-border surface-hover shadow-1"></i> <span class="px-3">Consultas</span>
                </li>
                <li [routerLink]="'/gerenciamento/enderecos'"
                    class="py-3 pl-3 hover:surface-hover transition-all transition-duration-500 cursor-pointer">
                    <i class="pi pi-home p-2 border-1 surface-border surface-hover shadow-1"></i> <span class="px-3">Enderecos</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>