<footer class="site-footer">
    <div class="formgrid grid col-12">
        <div class="col-12 formgrid grid field flex justify-content-center">
            <div class="image">
                <img src="./assets/imagens/logo_.png"
                    alt="Logo"
                    height="100"
                    class="ml-8 mr-8">
            </div>
            <div class="col-12 text-center"
                style="font-family:Iceberg;color:#696969;">
                <h3 class="center">Av. Amazonas, 7675 - Nova Gameleira, Belo Horizonte - MG, 30510-000</h3>
            </div>
            <div class="col-12 text-center"
                style="font-family:Iceberg;color:#696969;">
                <h4 class="center">+55 031 99999-9999</h4>
            </div>
            <div class="col-12 text-center"
                style="font-family:Iceberg;color:#2F4F4F;">
                <h5 class="ml-6 mr-6">Hospital Hospitallis @2022</h5>
            </div>
        </div>
        <div class="col-12 text-center"
            style="margin-top: 1rem; font-family:Iceberg;color:#2F4F4F;">
            <ul class="social-icons">
                <li><a class="facebook"
                        href="https://pt-br.facebook.com/"><i class="pi pi-facebook"></i></a></li>
                <li><a class="twitter"
                        href="https://twitter.com/?lang=pt-br"><i class="pi pi-twitter"></i></a></li>
                <li><a class="instagram"
                        href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a></li>
            </ul>

        </div>

    </div>

</footer>