* {
    margin: 0px;
}

body {
    background-image: url("./assets/Imagens/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 100%;
}

input:disabled {
    background-color: darkgray !important;
}

input.ng-invalid {
    border-color: red !important;
    background-color: rgba(255, 58, 58, 0.089)
}

input.ng-invalid~label,
p-inputMask.ng-invalid~label,
p-dropdown.ng-invalid:not(form)~label {
    color: red !important;

}

p-inputMask.ng-invalid>input {
    border-color: red !important;
    background-color: rgba(255, 58, 58, 0.089) !important;
}

p-dropdown.ng-invalid:not(form)>div {
    border-color: red !important;
    color: red;
    background-color: rgba(255, 58, 58, 0.089);
}

p-dropdown>div {
    width: 100% !important;
}

.invalid {

    .p-editor-content,
    .p-editor-toolbar {
        border-color: red !important;
        color: red;
    }

    .p-inputnumber-input {
        width: 100%;
    }
}