* {
    margin: 0px;
}

body {
    background-image: url("./assets/Imagens/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 100%;
}

input.ng-invalid {
    border-color: red !important;
}

input.ng-invalid~label {
    color: red !important;
}

p-dropdown.ng-invalid:not(form)>div {
    border-color: red !important;
    color: red;
}

p-dropdown>div {
    width: 100% !important;
}

.invalid {

    .p-editor-content,
    .p-editor-toolbar {
        border-color: red !important;
        color: red;
    }

    .p-inputnumber-input {
        width: 100%;
    }
}