<div class="col-12 mt-8 flex align-items-center justify-content-center">
	<div class="grid flex justify-content-center">
		<section>
			<img src="./assets/imagens/logo_.png" alt="Logo">
		</section>
		<div class="col-8 mt-5">
			<p-card>
				<ng-template pTemplate="header">
					<h1>Hospital Hospitalis</h1>
				</ng-template>
				<div class="grid mt-8 pl-5">
					<div class="col-12 mb-8">
						<h3>Todos os anos milhares de pessoas procuram o Hospital Hospitalis para realizarem seus tratamentos. Por trás de cada paciente existe uma história, uma necessidade e nossa missão é oferecer cuidado e amparo em nosso atendimento.
            Hoje, o Hospital Hospitalis representa um diferencial para a saúde pública de Minas Gerais, atendendo a pacientes de 88% dos municípios do estado. Com mais de 300 médicos e 900 colaboradores, temos uma equipe assistencial altamente qualificada e estrutura instalada com capacidade para realizar mais de 600 mil procedimentos por ano.
           
            Além disso, contamos com os seguintes centros: Centro de Nefrologia, Centro de Oncologia, Centro de Pediatria, Centro de Ortopedia, Centrare, Centro de Cirurgia Bariátrica e Metabólica.
            </h3>
					</div>
					<div class="col-12 mb-8">
						<h3>“Atender nossos clientes com respeito e excelência, através de qualidade e inovação.”h3>
					</div>
					<div class="col-12 mb-8">
						<h3>Ética profissional.
                Comprometimento social e respeito ao meio ambiente.
                Permanente atualização científica e tecnológica.
                Assistência segura.
                Valorização das pessoas.
                Colaboração e trabalho em equipe.
            </h3>
					</div>
				</div>
			</p-card>
		</div>
	</div>
</div>
