<div class="grid flex justify-content-center">
	<div class="col-10 mt-2 grid flex justify-content-around align-items-center">
		<div class="col-5 grid mt-8">
			<div class="col-12">
				<h1 class="text-left pl-3">Hospital Hospitalis</h1>
				<hr width="50%" />
			</div>
			<div class="col-12 sitacao text-600 line-height-3">
				<p>
					<i>
						"Todo paciente que você vê é uma lição muito maior do que a doença da qual ele sofre."
					</i>
				</p>
				<p>
					- Willian Osler
				</p>
			</div>
			<div class="col-12 mt-3 grid flex justify-content-around text-center">
				<div class="col-4 py-3 px-2 transition-all transition-duration-500 hover:bg-blue-500 text-600 
					hover:text-white cursor-pointer hover:shadow-4">
					<span>Agenda sua Consulta</span>
				</div>
				<div class="col-4 py-3 px-2 transition-all transition-duration-500 
					hover:surface-ground text-600 hover:text-blue-500 cursor-pointer hover:shadow-4">
					<span>Cadastre seu Endereço</span>
				</div>
			</div>
		</div>
		<div class="col-4">
			<img src="./assets/imagens/medico_malado.png" alt="Logo">
		</div>
	</div>
	<div class="col-12 grid surface-ground flex align-items-center">
		<div class="col-12 text-center mb-0 p-0">
			<img class="logo " src="./assets/imagens/logo_.png" alt="Logo">
		</div>
		<p class="text-400 pr-8 pl-8 pt-0 pb-5 text-center mt-0">
			<i>
				Todos os anos milhares de pessoas procuram o Hospital Hospitalis para realizarem seus
				tratamentos. Por trás de cada paciente existe uma história, uma necessidade e nossa missão é
				oferecer cuidado e amparo em nosso atendimento.
				Hoje, o Hospital Hospitalis representa um diferencial para a saúde pública de Minas
				Gerais, atendendo a pacientes de 88% dos municípios do estado. Com mais de 300 médicos e
				900 colaboradores, temos uma equipe assistencial altamente qualificada e estrutura
				instalada com capacidade para realizar mais de 600 mil procedimentos por ano.
				Além disso, contamos com os seguintes centros: Centro de Nefrologia, Centro de Oncologia,
				Centro de Pediatria, Centro de Ortopedia, Centrare, Centro de Cirurgia Bariátrica e
				Metabólica.
			</i>
	</div>
	<div class="col-12 grid pt-5 pb-5 surface-300 flex justify-content-around">
		<div class="col-3 grid hover:shadow-8 cards surface-card border-round-xl justify-content-center">
			<div class="col-12 border-bottom-1 border-300">
				<span class="titulo">Nossa Missão</span>
			</div>
			<div class="col-8 mt-4 grid">
				<p>
					Atender nossos clientes com respeito e excelência, através de qualidade e inovação.
				</p>
			</div>
		</div>
		<div class="col-3 grid hover:shadow-8 cards surface-card border-round-xl">
			<div class="col-12 py-3 border-bottom-1 border-300">
				<span class="titulo">Nossos Valores</span>
			</div>
			<div class="col-12 mt-4 grid text-left">
				<div class="col-6">
					<span><i class="pi pi-check"></i> Ética Profissional</span>
				</div>
				<div class="col-6">
					<span><i class="pi pi-check"></i> Comprometimento Social</span>
				</div>
				<div class="col-6">
					<span><i class="pi pi-check"></i> Respeito ao Meio Ambiente</span>
				</div>
				<div class="col-6">
					<span><i class="pi pi-check"></i> Assistência Segura</span>
				</div>
				<div class="col-6">
					<span><i class="pi pi-check"></i> Valorização das Pessoas</span>
				</div>
				<div class="col-6">
					<span><i class="pi pi-check"></i> Colaboração e Trabalho em Equipe</span>
				</div>
				<div class="col-10">
					<span><i class="pi pi-check"></i> Permanente atualização científica e tecnológica</span>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-8 mt-5">
		<p-card>
			<ng-template pTemplate="header">
				<h1>Hospital Hospitalis</h1>
				<hr width="50%" />
			</ng-template>
			<div class="grid mt-8 pl-5">
				<div class="col-12 mb-8">
					<h5>Todos os anos milhares de pessoas procuram o Hospital Hospitalis para realizarem seus
						tratamentos. Por trás de cada paciente existe uma história, uma necessidade e nossa missão é
						oferecer cuidado e amparo em nosso atendimento.
						<p>Hoje, o Hospital Hospitalis representa um diferencial para a saúde pública de Minas
							Gerais, atendendo a pacientes de 88% dos municípios do estado. Com mais de 300 médicos e
							900 colaboradores, temos uma equipe assistencial altamente qualificada e estrutura
							instalada com capacidade para realizar mais de 600 mil procedimentos por ano.</p>

						<p>Além disso, contamos com os seguintes centros: Centro de Nefrologia, Centro de Oncologia,
							Centro de Pediatria, Centro de Ortopedia, Centrare, Centro de Cirurgia Bariátrica e
							Metabólica.</p>
					</h5>
					<hr width="50%" />
				</div>
				<div class="col-12 mb-8">
					<h3>Missão</h3>
					<h5>"Atender nossos clientes com respeito e excelência, através de qualidade e inovação.”</h5>
					<hr width="50%" />
				</div>
				<div class="col-12 mb-8">
					<h3>Valores</h3>
					<h5>
						<p>Ética profissional.</p>
						<p>Comprometimento social e respeito ao meio ambiente.</p>
						<p>Permanente atualização científica e tecnológica.</p>
						<p>Assistência segura.</p>
						<p>Valorização das pessoas.</p>
						<p> Colaboração e trabalho em equipe.</p>
					</h5>
				</div>
			</div>
		</p-card>
	</div> -->
</div>