.bg {
    //background-image: url("./assets/imagens/fundo.png");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: contain;
}

.rectangle {
    height: 800px;
    width: 700px;
    margin: auto;
    background-color: white;
    position: relative;
    top: 40px;
    justify-content: center;
}

img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h1 {
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 71px;
    text-align: center;

    color: #000000;
}

h3 {
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;

    text-align: left;

    color: #000000;
}

.descricao {
    width: 148px;
    height: 49px;
    left: 60px;
    top: 200px;
}

.missao {
    width: 148px;
    height: 49px;
    left: 60px;
    top: 400px;
}

.valores {
    width: 148px;
    height: 49px;
    left: 60px;
    top: 600px;
}