<div class="col-12 mt-8 flex align-items-center justify-content-center">
	<div class="grid flex justify-content-center">
		<section>
			<img src="./assets/imagens/logo_.png" alt="Logo">
		</section>
		<div class="col-8 mt-5">
			<p-card>
				<ng-template pTemplate="header">
					<h1>Hospital Hospitalis</h1>
					<hr width="50%" />
				</ng-template>
				<div class="grid mt-8 pl-5">
					<div class="col-12 mb-8">
						<h3>Todos os anos milhares de pessoas procuram o Hospital Hospitalis para realizarem seus tratamentos. Por trás de cada paciente existe uma história, uma necessidade e nossa missão é oferecer cuidado e amparo em nosso atendimento.
            <p>Hoje, o Hospital Hospitalis representa um diferencial para a saúde pública de Minas Gerais, atendendo a pacientes de 88% dos municípios do estado. Com mais de 300 médicos e 900 colaboradores, temos uma equipe assistencial altamente qualificada e estrutura instalada com capacidade para realizar mais de 600 mil procedimentos por ano.</p>
           
            <p>Além disso, contamos com os seguintes centros: Centro de Nefrologia, Centro de Oncologia, Centro de Pediatria, Centro de Ortopedia, Centrare, Centro de Cirurgia Bariátrica e Metabólica.</p>
            </h3>
            <hr width="50%" />
					</div>
					<div class="col-12 mb-8">
						<h3>“Atender nossos clientes com respeito e excelência, através de qualidade e inovação.”</h3>
						<hr width="50%" />
					</div>
					<div class="col-12 mb-8">
						<h3><p>Ética profissional.</p>
                <p>Comprometimento social e respeito ao meio ambiente.</p>
                <p>Permanente atualização científica e tecnológica.</p>
                <p>Assistência segura.</p>
                <p>Valorização das pessoas.</p>
               <p> Colaboração e trabalho em equipe.</p>
            </h3>
					</div>
				</div>
			</p-card>
		</div>
	</div>
</div>
